  .curva {
    width: 100vw; 
    height: 5vh;
    background-color: white;
    border-top-left-radius: 55% 110%; 
    border-top-right-radius: 55% 110%;
    top: -96;
    position:absolute;
    margin-top: 100px;
  }